<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_product_save_after">
        <observer name="ProductSaveObserver" instance="AfterShip\Feed\Observer\ProductSaveObserver" />
    </event>
    <event name="cataloginventory_stock_item_save_after">
        <observer name="InventoryUpdateObserver" instance="AfterShip\Feed\Observer\InventoryUpdateObserver" />
    </event>
</config>